<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Rubra Administracion</title>
<link rel="stylesheet" href="{{ asset('css/stylePanel.css') }}"/>
<link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
<link rel="stylesheet" href="{{ asset('css/style2.css') }}"/>
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/jquery.ui.shake.js') }}"></script> 
</head>

<body>
<div id="main">
<h1>Listado de Clientes</h1>



</div>
</body>
</html>